{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    {% for productos in producto %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{ productos.imageURL }}">
        <div class="box-element prodct">
            <h6><strong>{{ productos.nombre }}</strong></h6>
            <hr>
            <button class = "btn btn-outline-secondary add-btn"> Agregar al carrito </button>
            <a class="btn btn-outline-success" href="#">Ver</a>
            <h4 style="display: inline-block; float: right"><strong>{{ productos.price|floatformat:2 }}</strong></h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}